{% extends "miplantilla_base.html" %}

{% block content %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla accusamus commodi molestias consequuntur possimus! Non voluptatibus sint odio labore quam magni assumenda facilis cumque, cum, recusandae saepe nemo maxime explicabo.
    <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus nesciunt deleniti provident non assumenda odio. Placeat quam ratione tenetur, qui iusto fugiat temporibus veritatis quia quibusdam dolor molestias voluptatum aliquid.
    <br>

    <h2>Videos</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ArScjcK9dbI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, possimus quo? Explicabo numquam ab, quos, suscipit nobis aliquid modi sed provident non reiciendis veniam rerum a, illum itaque rem veritatis?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos perspiciatis, minus alias veritatis vel iste, pariatur error omnis officiis deserunt odio eum dolores nam distinctio provident. Ut labore nihil molestias.

</p>


{% endblock %}